<html>
<head>

    <script src="src/web/js/angular.min.js"></script>

    <script src="src/web/js/app.js"></script>

    <script src="src/web/js/TaskService.js"></script>

    <script src="src/web/js/TaskController.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="taskController">
    <h1>Task list</h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in currentTasks">
            <td>{{ '{{task.title}}' }}</td>
            <td>{{ '{{task.description}}' }}</td>
            <td>{{ '{{task.date}}' }}</td>
        </tr>
        </tbody>

    </table>

    <h3>add task:</h3>

    <form name="addTask" ng-submit="submit()">

        Title: <br/><input type="text" ng-model="taskToAdd.title"> <br/><br/>
        Description: <br/><input type="text" ng-model="taskToAdd.description"> <br/><br/>

        <input type="submit">
    </form>

</div>

</body>
</html>

